# card_segmentation

## Yêu cầu

Anaconda Navigator (Không cần thiết nếu không muốn tạo môi trường ảo)

> Nếu dùng GPU:

- Cuda Toolkit 
- Pytorch. Chọn compute platform tương ứng với phiên bản Cuda Toolkit

> Nếu không dùng GPU:

- Pytorch. Chọn compute platform là CPU

## Clone github
```
git clone https://github.com/hoanglqd-a1/card_classification.git
```

Tạo môi trường ảo (Có thể bỏ qua)
```
conda create -n card_classification python=3.10.15
conda activate card_classification
```

Tải các thư viện liên quan
```
pip install -r requirements.txt
```
## Tải dataset
Có thể bỏ qua bước này nếu không muốn train mô hình

```
python prepare_dataset.py
```

## Train mô hình

```
python train.py
```

## Thử nghiệm
```
python test.py test/sample1.png --output_mask=test/output_mask.png --output_prediction=test/output_pred.png --model=./pretrained/model_final.pt
```

## .IPYNB
Ngoài ra, có thể chạy thử các file .ipynb để trực quan hóa quá trình